{% load table_tags %}
{% load macros %}

{% macro display_associated_table table title %}
	<h3>
		{{ title }}
		<a href='{% filter lower|cut:" "  %} #{{ title }} {% endfilter %}' class="btn btn-info" data-toggle="collapse" aria-expanded="true">
			<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
		</a>
	</h3>

	<div id='{% filter lower|cut:" "  %} {{ title }} {% endfilter %}' class="collapse in" aria-expanded="true">
		{% render_table table %}
	</div>

{% endmacro %}

