{# Load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Million Little Dashboard</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
        {% block sidebar %}
          <ul class="sidebar-nav">
            {% if user.is_authenticated %}
              <li>Logged in as:</li>
              <li><strong>{{user.contact.name}}</strong></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li><a href="{% url 'password_change' %}">Change Password</a></li>
              <hr>
              <li><a href="{% url 'my-dashboard' %}">My Dashboard</a></li>
              <li><a href="{% url 'my-proj-assocs' %}">My Projects</a></li>
              <li><a href="{% url 'my-task-assocs' %}">My Tasks</a></li>
              <hr>
              {% if perms.contact.contact_view_all %}
                <li><a href="{% url 'contacts' %}">View all Contacts</a></li>
              {% endif %}
              {% if perms.contact.organization_view_all %}
                <li><a href="{% url 'orgs' %}">View all Organizations</a></li>
              {% endif %}
              {% if perms.contact.project_view_all %}
                <li><a href="{% url 'projects' %}">View all Projects</a></li>
              {% endif %}
              {% if perms.contact.task_view_all %}
                <li><a href="{% url 'tasks' %}">View all Tasks</a></li>
              {% endif %}
              <hr>
              {% if perms.contact.add_contact %}
                <li><a href="{% url 'contact-create' %}">Create new Contact</a></li>
              {% endif %}
              {% if perms.contact.add_organization %}
                <li><a href="{% url 'org-create' %}">Create new Organization</a></li>
              {% endif %}
              {% if perms.contact.add_project %}
                <li><a href="{% url 'project-create' %}">Create new Project</a></li>
              {% endif %}
              {% if perms.contact.add_task %}
                <li><a href="{% url 'task-unbound-create' %}">Create new Task</a></li>
              {% endif %}
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-sm-10 ">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>