
{% load table_tags %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Print My Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/print.css' %}">

</head>

<body>

  {% include "my_dashboard_basic.html" %}

  <hr>
  <h3>Your Upcoming Projects</h3>
  {% render_table user_proj_table %}
  <hr>
  <h3>Your Upcoming Tasks</h3>
  {% render_table user_task_table %}

</body>