{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% load macros %}

{% loadmacros "associated_macros.html" %}

{% block content %}

  {% include "my_dashboard_basic.html" %}

  <h2>
    {% bootstrap_button content='View Printable Version' button_type='link' href=print_url button_class="btn-primary" icon="glyphicon glyphicon-print"%}
  </h2>

  <hr>
  {% use_macro display_associated_ajax_table user_proj_table "Your Upcoming Projects" project_source input_id%}
  <hr>
  {% use_macro display_associated_ajax_table user_task_table "Your Upcoming Tasks" task_source input_id%}

{% endblock %}