{% extends "base_generic.html" %}

{% load macros %}

{% loadmacros "associated_macros.html" %}

{% block content %}

  <h1><strong>My Dashboard</strong></h1>

  <p><strong>E-Mail:</strong> {{ user_con.email }} </p>
  <p><strong>Phone:</strong> {{ user_con.phone }} </p>
  <p><strong>Organization:</strong> {{ user_con.org }} </p>

  <hr>
  {% use_macro display_associated_table user_proj_table "Your Upcoming Projects" %}
  <hr>
  {% use_macro display_associated_table user_task_table "Your Upcoming Tasks" %}
  <hr>

  </div>
{% endblock %}