{% extends "base_generic.html" %}

{% load macros %}

{% loadmacros "tasks/task_macro.html" %}

{% block content %}

  <h1><strong>My Dashboard</strong></h1>

  <div class="col-sm-3">
  	<p><strong>E-Mail:</strong> {{ user_con.email }} </p>
  	<p><strong>Phone:</strong> {{ user_con.phone }} </p>
    <p><strong>Organization:</strong> {{ user_con.org }} </p>
  </div>

  <div class="col-sm-12 sublist-major">
    <!--                           -->
    <!-- Block 2 - Project Listing -->
    <!--                           -->
    <h3>Projects</h3>

    {% if user_proj.all %}
      {% for proj in user_proj.all %}
        <hr>
        <a href="{{ proj.get_absolute_url }}">{{ proj.title }}</a>

      {% endfor %}
    {% else %}
      <p>You have no projects!</p>
    {% endif %}

    <!--                        -->
    <!-- Block 3 - Task Listing -->
    <!--                        -->
    <h3>Your Upcoming Tasks</h3>
    {% if user_task.all %}
      {% for assoc in user_task.all %}
        <div class="col-sm-12">
          <hr>
          {% with assoc.task as task%}
            {% use_macro display_task_header task %}
            {% use_macro display_task_body task assoc=assoc show_contact=False %}
          {% endwith %} 
        </div>
      {% endfor %}
    {% else %}
      <p>You have no upcoming tasks!</p>
    {% endif %}
  </div>
{% endblock %}