
{% load table_tags %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ contact.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/print.css' %}">
</head>

<body>

  <h1><strong>Contact: </strong>{{ contact.name }}</h1>

  <div class="col-sm-12">
    {% for contype in contact.type_tags.all %}
      <div class="col-sm-2">
        <div class="contag tag {{ contype.tag_type }}">
          <strong>{{ contype.get_tag_type_display }}</strong>
        </div>
      </div>
    {% endfor %}
  </div>

  {% include "contacts/contact_body.html" %}

  <div>
    {% if perms.contact.contact_view_projects %}
      <hr>
      <h3>Associated Projects</h3>
      {% render_table associated_projects_table %}
    {% endif %}

    {% if perms.contact.contact_view_tasks %}
      <hr>
      <h3>Associated Tasks</h3>
      {% render_table associated_tasks_table %}
    {% endif %}

    {% if perms.contact.contact_view_events %}
      <hr>
      <h3>Associated Events</h3>
      {% render_table associated_events_table %}
    {% endif %}
  </div>
</body>