{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% load macros %}

{% loadmacros "associated_macros.html" %}

{% block content %}

  {% include "contacts/contact_basic.html" %}

  <h2>
    {% bootstrap_button content='View Printable Version' button_type='link' href=contact_print_url button_class="btn-primary" icon="glyphicon glyphicon-print"%}
  </h2>

  <div>
    {% if perms.contact.change_contact %}
      {% bootstrap_button content='Edit' button_type='link' href=contact_edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil"%}
    {% endif %}
    {% if perms.contact.delete_contact %}
      {% bootstrap_button content='Delete' button_type='link' href=contact_delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
    {% endif %}
  </div>

  <div>
    {% if perms.contact.contact_view_projects %}
      <hr>
      {% use_macro display_associated_table associated_projects_table "Associated Projects" %}
    {% endif %}

    {% if perms.contact.contact_view_tasks %}
      <hr>
      {% use_macro display_associated_table associated_tasks_table "Associated Tasks" %}
    {% endif %}

    {% if perms.contact.contact_view_events %}
      <hr>
      {% use_macro display_associated_table associated_events_table "Associated Events" %}
    {% endif %}
  </div>
{% endblock %}