
{% load table_tags %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ contact.name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  {% include "contacts/contact_basic.html" %}

  <div>
    {% if perms.contact.contact_view_projects %}
      <hr>
      <h3>Associated Projects</h3>
      {% render_table associated_projects_table %}
    {% endif %}

    {% if perms.contact.contact_view_tasks %}
      <hr>
      <h3>Associated Tasks</h3>
      {% render_table associated_tasks_table %}
    {% endif %}
  </div>
</body>