{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% load macros %}

{% loadmacros "contacts/contact_macro.html" %}
{% loadmacros "tasks/task_macro.html" %}
{% loadmacros "associated_macros.html" %}

{% block content %}

  <h1><strong>Contact: </strong>{{ contact.name }}</h1>

  {% use_macro display_contact_large_tags contact %}

  {% use_macro display_contact_body contact %}

  <h2 class="col-sm-12" role="toolbar">
    {% bootstrap_button content='Edit' button_type='link' href=contact_edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil"%}
    {% bootstrap_button content='Delete' button_type='link' href=contact_delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
  </h2>

  <div class="col-sm-12">

    <hr>
    {% use_macro display_associated_table associated_projects_table "Associated Projects" %}
    <hr>
    {% use_macro display_associated_table associated_tasks_table "Associated Tasks" %}
    <hr>

  </div>
{% endblock %}