{% extends "base_generic.html" %}

{% block content %}
    <h1>Volunteer List</h1>
    {% if volunteer_list %}
      <div class="table-responsive">
        <table class="table-striped">
          <tr>
            <th>Name</th>
            <th>Contact Type</th>
            <th>Organization</th>
            <th>Age</th>
          </tr>
          {% for vol in volunteer_list %}
            <li>
              <a href="{{ vol.get_absolute_url }}">{{ vol.name }}</a>
            </li>
          {% endfor %}
        </table>
      </div> 
    {% else %}
      <p>You have no volunteers! Truly, a sadness!</p>
    {% endif %}       
{% endblock %}