.left-pad{
    padding-left: 0px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sublist-major {
	margin-left:20px;
	margin-top:20px;	
}

.checkbox.check-list{
    padding-right: 5px;
    padding-left: 5px;   
}

td.centerized {
    text-align: center;
}

/* 
    Contact Type Tags
*/
.contag {
	color: white;
	border-radius: 0px;
    padding: 1px;
    text-align: center;
}

.contag.icon {
    border-radius: 15px;
    padding-top: 2px;
    padding-right: 3px;
}

.contag.tag {
    border-radius: 7px;
    min-width: 165px
}

.contag.bubble {
    border-radius: 15px;

    width: 30px;

    display: table-cell;

    float: left;
    margin-right: 5px;
}

/* Donor Tag */
.do { background-color: #FF8C19; } 

/* Prospect Tag */
.pr { background-color: #008FBF; }

/* Volunteer Tag */
.vo { background-color: #4C9926; }

/* Corporation / Foundation Tag */
._f { background-color: #9F9F9F; }

/* Prospect Tag */
._g { background-color: #85A6A6; }

/* 
    Contact-Task Assoc Type Tags
*/
.con-task-assoc {
	color: white;
    border-radius: 7px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;

    background-color: #85A6A6;
}

/* Creator Tag */                           /* Scheme 1   Scheme 2    Scheme 3*/
.cr { 
    background-color: #2C594F;
    color: white; 
}
.creator { 
    background-color: #2C594F;
    color: white; 
}

/* Assigned Tag */ 
.as { 
    background-color: #E54661;
}

.assigned { 
    background-color: #E54661;
}

.as.hoverable { 
    color: white; 
}

.as.hoverable:hover { 
    background-color: #B0364B;
}

/* Target Tag */
.ta { 
    background-color: #FFA644;
}

.target {
    background-color: #FFA644;
}

.ta.hoverable { 
    color: white; 
}

.ta.hoverable:hover { 
    background-color: #DB8F3A;
}

/* Non-Specified or Non-Aligned Tag */
.na { 
    background-color: #002D40;
    color: white;
}

.unspecified {
    background-color: #002D40;
    color: white;    
}

/* 
    Task Status Tags
*/
.task-status {
    color: white;
    border-radius: 7px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;

    background-color: #85A6A6;
}

.incomplete {
    background-color: #666;
}

.overdue {
    background-color: #e23131;
}

.completed {
    background-color: #56cc4b;
}