
{% load table_tags %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>{{ organization.name }}</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block addhead %}
  {% endblock %}
</head>

<body>

  {% include "organizations/org_basic.html" %}

  <hr>
  <h3>Contact-Task Assignments</h3>
  {% render_table associated_contact_table %}

<body>