{% extends "base_generic.html" %}

{% load bootstrap3 %}
{% load macros %}

{% loadmacros "associated_macros.html" %}

{% block content %}

  {% include "organizations/org_basic.html" %}

  <h2>
    {% bootstrap_button content='View Printable Version' button_type='link' href=org_print_url button_class="btn-primary" icon="glyphicon glyphicon-print"%}
  </h2>

  <div>
    {% bootstrap_button content='Edit' button_type='link' href=org_edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil"%}

    {% bootstrap_button content='Delete' button_type='link' href=org_delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
  </div>

  <hr>
  {% use_macro display_associated_table associated_contact_table "Associated Contacts" %}

{% endblock %}