{% extends "base_generic.html" %}

{% load bootstrap3 %}

{% block addhead %}  
  {{ form.media }}
  <!-->
    Manually have to add the theme and the tinymce link.
    For some reason, the form.media script tag is generated... poorly.
  </-->
  <script type="text/javascript" src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="/static/tinymce/js/tinymce/themes/modern/theme.min.js"></script>
{% endblock %}

{% block content %}

  <h1>Create New User</h1>

  <form action="" method="post">
    {% csrf_token %}

    {% bootstrap_form form %}
    
    {% buttons %}
      {% bootstrap_button content='Save' button_type='submit' button_class="btn-primary" icon="glyphicon glyphicon-floppy-disk"%}
    {% endbuttons %}

  </form>

{% endblock %}