{% extends "base_generic.html" %}

{% load table_tags %}
{% load bootstrap3 %}

{% block content %}

  <h1>Task List</h1>

  {% if perms.contact.task_down_sum_all %}
    <h2>
      {% bootstrap_button content='Download Excel List' button_type='link' href=download_all_url button_class="btn-primary" icon="glyphicon glyphicon-download"%}
      {% bootstrap_button content='Download Excel (Incomplete Only)' button_type='link' href=download_incomplete_url button_class="incomplete hoverable" icon="glyphicon glyphicon-download"%}
    </h2>
  {% endif %}

  {% if perms.contact.task_view_all %}
    {% render_table task_table %} 
  {% endif %}
    
{% endblock %}