{% extends "base_generic.html" %}

{% load macros %}
{% load bootstrap3 %}
{% load table_tags %}

{% loadmacros "tasks/task_macro.html" %}

{% block content %}

  {% use_macro display_task_header task  as_title=True       %}
  {% use_macro display_task_body   task  show_contact=False  %}
   
  <!-- Buttons go here! -->
  <div>
    <form action="" method="post">
      {% csrf_token %}

      {% if task.complete %}
        {% bootstrap_button content='Mark Incomplete' button_type='submit' name='mark' value='False' button_class="incomplete hoverable" icon="glyphicon glyphicon-repeat" %}
      {% else %}
        {% bootstrap_button content='Mark Completed' button_type='submit' name='mark' value='True' button_class="completed hoverable" icon="glyphicon glyphicon-ok" %}
      {% endif %}

      {% bootstrap_button content='Edit' button_type='link' href=edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil" %}

      {% bootstrap_button content='Delete' button_type='link' href=delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
    </form>
  </div>
  <div>
    <hr>
    <h3>
      Associated Contacts
      <a href='#assoc_con' class="btn btn-info" data-toggle="collapse">
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      </a>
      {% bootstrap_button content='Assign a Volunteer' button_type='link' href=add_volunteer_url button_class="as hoverable" icon="glyphicon glyphicon-plus"%}
      {% bootstrap_button content='Add a Target' button_type='link' href=add_target_url button_class="ta hoverable" icon="glyphicon glyphicon-plus"%}
      {% bootstrap_button content='Add a Resource' button_type='link' href=add_resource_url button_class="re hoverable" icon="glyphicon glyphicon-plus"%}         
    </h3>
    <div id='assoc_con' class="collapse">
      {% render_table associated_contact_table %}
    </div>
    <hr>
  </div>
{% endblock %}