{% extends "base_generic.html" %}

{% load bleach_tags %}
{% load bootstrap3 %}
{% load table_tags %}
{% load macros %}

{% loadmacros "tasks/task_macro.html" %}

{% block content %}
  <h1>
    <strong>Task: </strong>{{task.brief}}
  </h1>

  {% if task.deadline %}
    <p><strong>Complete By: </strong> {{ task.deadline }}</p>
  {% endif %}

  <p>
    <strong>Task Status: </strong>
    <strong class="task-status {{task.status.lower}}">{{task.status}}</strong>
  </p>

  {% if creator.con %}
    <p>
      <strong class="con-assoc cr">Creator:</strong> {{creator.con.name}}
    </p>
  {% endif %}

  {% if show_project %}
    {% if task.proj %}
      <p><strong>Project: </strong> <a href="{{ task.proj.get_absolute_url }}">{{ task.proj.title }}</a></p>
    {% endif %}
  {% endif %}

  <!-- Notes for this task -->
  <p><strong>Notes: </strong></p>
  <p>{{ task.notes | bleach }}</p>  

  {% if can_download %}
    <h2>
      {% bootstrap_button content='Download Excel Summary' button_type='link' href=task_download_url button_class="btn-primary" icon="glyphicon glyphicon-download"%}
    </h2>
  {% endif %}


  <form action="" method="post">
    <!-- Buttons go here! -->
    <div>
      {% csrf_token %}

      {% if task.complete %}
        {% bootstrap_button content='Mark Incomplete' button_type='submit' name='mark' value='False' button_class="incomplete hoverable" icon="glyphicon glyphicon-repeat" %}
      {% else %}
        {% bootstrap_button content='Mark Completed' button_type='submit' name='mark' value='True' button_class="completed hoverable" icon="glyphicon glyphicon-ok" %}
      {% endif %}

      {% if can_edit %}
        {% bootstrap_button content='Edit' button_type='link' href=edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil" %}
      {% endif %}

      {% if can_delete %}
        {% bootstrap_button content='Delete' button_type='link' href=delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
      {% endif %}
    </div>
    <div>
      <hr>
      <h3>
        Associated Contacts
        <a href='#assoc_con' class="btn btn-info" data-toggle="collapse">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </a>
        {% if can_assign %}
          {% bootstrap_button content='Assign a Volunteer' button_type='link' href=add_volunteer_url button_class="as hoverable" icon="glyphicon glyphicon-plus"%}
          {% bootstrap_button content='Add a Target' button_type='link' href=add_target_url button_class="ta hoverable" icon="glyphicon glyphicon-plus"%}
          {% bootstrap_button content='Add a Resource' button_type='link' href=add_resource_url button_class="re hoverable" icon="glyphicon glyphicon-plus"%}
        {% endif %}      
      </h3>
      <div id='assoc_con' class="collapse">
        {% render_table associated_contact_table %}
      </div>
      <hr>
    </div>
  </form>
{% endblock %}