{% load bleach_tags %}
{% load macros %}

<!--

MACRO: Display the header (title/status) of a task...

-->
{% macro display_task_header task as_title=False%}
  
  {% if as_title %}
    <h1>
  {% else %}
    <h4>
  {% endif %}

    {% if as_title %}
      <strong>Task: </strong>{{task.brief}}
    {% else %}
      <a href="{{ task.get_absolute_url }}">{{ task.brief }}</a>
    {% endif %}

  {% if as_title %}
    </h1>
  {% else %}
    </h4>
  {% endif %}

{% endmacro %}

<!--

MACRO: Display the body of a task...

-->
{% macro display_task_body task assoc=None show_project=True show_contact=True %}

  {% if assoc %}
    <p><strong class="con-task-assoc {{assoc.tag_type}}">{{assoc.get_tag_type_display}}</strong></p>
  {% endif %}

  {% if task.deadline %}
    <p><strong>Complete By: </strong> {{ task.deadline }}</p>
  {% endif %}
  <p>
    <strong>Task Status: </strong>
    <strong class="task-status {{task.status.lower}}">{{task.status}}</strong>
  </p>

  {% if show_project %}
    {% if task.proj %}
      <p><strong>Project: </strong> <a href="{{ task.proj.get_absolute_url }}">{{ task.proj.title }}</a></p>
    {% endif %}
  {% endif %}

  <!-- Notes for this task -->
  <p><strong>Notes: </strong></p>
  <p>{{ task.notes | bleach }}</p>  
  <!-- Listing the contacts assigned to this task -->
  {% if show_contact %}
    {% for creator in task.creator_contacts %}
      <p><strong class="con-task-assoc cr">Creator:</strong> {{ creator.name }}</p>
    {% endfor %}

    {% if task.assigned_contacts %}
      <div class="col-sm-4">
        <strong class="con-task-assoc as">Assigned To: </strong>
        {% for con in task.assigned_contacts %}
          <p><a href="{{ con.get_absolute_url }}">{{ con }}</a></p>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Listing the contacts targeted by this task -->
    {% if task.targeted_contacts %}
      <div class="col-sm-4">
        <strong class="con-task-assoc ta">Target Contacts: </strong>
        {% for con in task.targeted_contacts %}
          <p><a href="{{ con.get_absolute_url }}">{{ con }}</a></p>
        {% endfor %}
      </div>
    {% endif %}
    <!-- Listing the nonaligned contacts associated with this task -->
    {% if task.nonaligned_contacts %}
      <div class="col-sm-4">
        <strong class="con-task-assoc na">Also Associated: </strong>
        {% for con in task.nonaligned_contacts  %}
          <p><a href="{{ con.get_absolute_url }}">{{ con }}</a></p>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

{% endmacro %}