
{% load table_tags %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{project.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/print.css' %}">
</head>

<body>

  {% include "projects/project_basic.html" %}

  <hr>
  <h3>Contact-Task Assignments</h3>
  {% render_table contact_task_intersect_table %}
  <hr>
  <h3>Associated Contacts</h3>
  {% render_table associated_contact_table %}
  <hr>
  <h3>Associated Tasks</h3>
  {% render_table associated_task_table %}
  
</body>