{% extends "base_generic.html" %}

{% load bleach_tags %}
{% load table_tags %}
{% load bootstrap3 %}
{% load macros %}

{% loadmacros "associated_macros.html" %}

{% block content %}

  {% include "projects/project_basic.html" %}

  <!--
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{project.complete_percent }}" 
    aria-valuemin="0" aria-valuemax="100" 
    style="width:{{project.complete_percent }}%">
      <strong>{{ project.complete_percent }}%</strong>
    </div>
  </div> 
  -->
  <h2>
    {% bootstrap_button content='View Printable Version' button_type='link' href=project_print_url button_class="btn-primary" icon="glyphicon glyphicon-print"%}
  </h2>
  <form action="" method="post">
    {% csrf_token %}
    <div>

      {% if project.complete %}
        {% bootstrap_button content='Mark Incomplete' button_type='submit' name='mark' value='False' button_class="incomplete hoverable" icon="glyphicon glyphicon-repeat" %}
      {% else %}
        {% bootstrap_button content='Mark Completed' button_type='submit' name='mark' value='True' button_class="completed hoverable" icon="glyphicon glyphicon-ok" %}
      {% endif %}

      {% if can_edit %}
        {% bootstrap_button content='Edit' button_type='link' href=project_edit_url button_class="btn-primary" icon="glyphicon glyphicon-pencil"%}
      {% endif %}

      {% if can_delete %}
        {% bootstrap_button content='Delete' button_type='link' href=project_delete_url button_class="btn-danger" icon="glyphicon glyphicon-remove"%}
      {% endif %}

    </div>
    <div>
      <hr>
      
      {% use_macro display_associated_table contact_task_intersect_table "Contact-Task Assignments" %}
      
      <hr>
      <h3>
        Associated Contacts
        <a href='#assoc_con' class="btn btn-info" data-toggle="collapse" aria-expanded="true">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </a>
        {% if can_assign %}
          {% bootstrap_button content='Add a Project Lead' button_type='link' href=project_add_lead_url button_class="le hoverable" icon="glyphicon glyphicon-plus"%}
          {% bootstrap_button content='Assign a Volunteer' button_type='link' href=project_add_assign_url button_class="as hoverable" icon="glyphicon glyphicon-plus"%}
          {% bootstrap_button content='Add a Resource' button_type='link' href=project_add_resource_url button_class="re hoverable" icon="glyphicon glyphicon-plus"%} 
        {% endif %} 
      </h3>
      <div id='assoc_con' class="collapse in" aria-expanded="true">
        {% render_table associated_contact_table %}
      </div>

      <hr>

      <h3>
        Associated Tasks
        <a href='#assoc_task' class="btn btn-info" data-toggle="collapse" aria-expanded="true">
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </a>
        {% if can_add_task %}
          {% bootstrap_button content='Add New Task' button_type='link' href=new_project_task_url button_class="btn-success" icon="glyphicon glyphicon-plus"%}
        {% endif %}
      </h3>
      <div id='assoc_task' class="collapse in" aria-expanded="true">
         {% render_table associated_task_table %}
      </div>

    </div>
  </form>
  
{% endblock %}