{% extends "base_generic.html" %}

{% load macros %}
{% loadmacros "tasks/task_macro.html" %}

{% block content %}
  <h1><strong>Project: </strong>{{ project.title }}</h1>
  <!--                                  -->
  <!--     Block 1 - Project Details    -->
  <!--                                  -->
  <div class="col-sm-4" >
    <h3>Associated Contacts</h3>

    {% if project.associated %}
      {% for con in project.associated.all %}
        <div>
          <a href="{{ con.get_absolute_url }}">{{ con }}</a>
          <br>
          <div style="display: inline-block;">
          {% for contype in con.contacttypetag_set.all %}
            <div class="contag bubble {{ contype.tag_type }}">{{ contype.get_contact_abbrv }}</div>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No associated contacts!</p>
    {% endif %}

  </div>
  <div class="col-sm-7">
    <h3>Notes</h3>

    <p>{{ project.notes }}</p>
  </div>

  <!--                        -->
  <!-- Block 2 - Task Listing -->
  <!--                        -->
  <div class="col-sm-12 sublist-major">
    <h3>Tasks</h3>
    {% if project.task_set %}
      {% for task in project.task_set.all %}
        <div class="col-sm-12">
          <hr>
          {% use_macro display_task_header task %}
          {% use_macro display_task_body task show_project=False %}
        </div>
      {% endfor %}
    {% else %}
      <p>No associated tasks!</p>
    {% endif %}
  </div>

{% endblock %}