{% load bleach_tags %}

<h1><strong>Project: </strong>{{ project.title }}</h1>

<h4><strong>Deadline:</strong> {{ project.deadline }}</h4>

<p>
  <strong>Project Status: </strong>
  <strong class="task-status {{project.status.lower}}">{{project.status}}</strong>
</p>

{% if creator.con %}
  <p>
    <strong class="con-assoc cr">Creator:</strong> {{creator.con.name}}
  </p>
{% endif %}

<p><strong>Notes: </strong></p>
{% if project.notes %}
	<p>{{ project.notes | bleach }}</p>
{% else %}
	<p>No notes for this project.</p>
{% endif %} 