.left-pad{
    padding-left: 0px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sublist-major {
	margin-left:20px;
	margin-top:20px;	
}

.checkbox.check-list{
    padding-right: 5px;
    padding-left: 5px;   
}

td.centerized {
    text-align: center;
}

button.as-link {
    background:none!important;
    border:none; 
    padding:0!important;

    color:#337ab7;
    cursor:pointer;
}

button.as-link:hover {
    color:#23527c;
    text-decoration:underline;
}

button.as-link.danger {
    color:#D30;
}

button.as-link.danger:hover {
    color:#C20;
}

/* 
    Contact Type Tags
*/
.contag {
	color: white;
	border-radius: 0px;
    padding: 1px;
    text-align: center;
}

.contag.icon {
    border-radius: 15px;
    padding-top: 2px;
    padding-right: 3px;
}

.contag.tag {
    border-radius: 7px;
}

.contag.bubble {
    border-radius: 15px;

    width: 30px;

    display: table-cell;

    float: left;
    margin-right: 5px;
}

/* Donor Tag */
.do { 
    background-color: #FF8C19;
    border-color: #FF8C19;
    color: white;   
} 

.do.hoverable:hover,
.do.hoverable:focus,
.do.hoverable:active,
.do.hoverable.active { 
    color: white; 
    background-color: #ff8000;
}

/* Prospect Tag */
.pr { 
    background-color: #008FBF;
    border-color: #008FBF;
    color: white;   
}

.pr.hoverable:hover,
.pr.hoverable:focus,
.pr.hoverable:active,
.pr.hoverable.active { 
    color: white; 
    background-color: #007399;
}

/* Volunteer Tag */
.vo { 
    background-color: #4C9926;
    border-color: #4C9926; 
    color: white;   
}

.vo.hoverable:hover,
.vo.hoverable:focus,
.vo.hoverable:active,
.vo.hoverable.active { 
    color: white; 
    background-color: #3d7a1f;
}

/* Corporation / Foundation Tag */
._f { 
    background-color: #9F9F9F; 
    border-color: #9F9F9F; 
    color: white;   
}

._f.hoverable:hover,
._f.hoverable:focus,
._f.hoverable:active,
._f.hoverable.active { 
    color: white; 
    background-color: #8c8c8c;
}

/* Grant Resource Tag */
._g { 
    background-color: #85A6A6;
    border-color: #85A6A6;
    color: white; 
}

._g.hoverable:hover,
._g.hoverable:focus,
._g.hoverable:active,
._g.hoverable.active { 
    color: white; 
    background-color: #6b9494;
}

/* 
    Contact Assoc Type Tags
*/
.con-assoc,
.con-task-assoc,
.con-proj-assoc  {
	color: white;
    border-radius: 7px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;

    background-color: #85A6A6;
}

/* Creator Tag */                           /* Scheme 1   Scheme 2    Scheme 3*/
.cr,
.creator { 
    background-color: #2C594F;
    border-color: #2C594F;
    color: white; 
}

/* Assigned Tag */ 
.as, 
.assigned { 
    background-color: #E54661;
    border-color: #E54661;
    color: white; 
}

.as.hoverable:hover,
.as.hoverable:focus,
.as.hoverable:active,
.as.hoverable.active { 
    background-color: #B0364B;
    color: white; 
}

/* Target Tag */
.ta, 
.target { 
    background-color: #FFA644;
    border-color: #FFA644;
    color: white; 
}

.ta.hoverable:hover, 
.ta.hoverable:focus,
.ta.hoverable:active,
.ta.hoverable.active { 
    background-color: #DB8F3A;
    color: white; 
}

/* Non-Specified or Non-Aligned Tag */
.na,
.unspecified { 
    background-color: #002D40;
    border-color: #002D40;
    color: white;
}

.na.hoverable:hover,
.na.hoverable:focus,
.na.hoverable:active,
.na.hoverable.active { 
    color: white; 
    background-color: #002333;
}

.re,
.resource {
    background-color: #0099cc;
    border-color: #0099cc;
    color: white;    
}

.re.hoverable:hover,
.re.hoverable:focus,
.re.hoverable:active,
.re.hoverable.active { 
    color: white; 
    background-color: #007399;
}

.le,
.project-lead {
    background-color: #bf0074;
    border-color: #bf0074;
    color: white;    
}

.le.hoverable:hover,
.le.hoverable:focus,
.le.hoverable:active,
.le.hoverable.active { 
    color: white; 
    background-color: #99005c;
}

/* 
    Task Status Tags
*/
.task-status,
.proj-status,
.task-proj-status,
.proj-task-status {
    color: white;
    border-radius: 7px;
    padding: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;

    background-color: #85A6A6;
}

.incomplete {
    color: white; 
    background-color: #666;
    border-color: #666;
}
.incomplete.hoverable:hover,
.incomplete.hoverable:focus,
.incomplete.hoverable:active,
.incomplete.hoverable.active { 
    color: white; 
    background-color: #555;
}

.overdue {
    color: white; 
    background-color: #e23131;
    border-color: #e23131;
}
.overdue.hoverable:hover,
.overdue.hoverable:focus,
.overdue.hoverable:active,
.overdue.hoverable.active { 
    color: white; 
    background-color: #D92F2F;
}

.completed {
    color: white; 
    background-color: #56cc4b;
    border-color: #56cc4b;
}
.completed.hoverable:hover,
.completed.hoverable:focus,
.completed.hoverable:active,
.completed.hoverable.active { 
    color: white; 
    background-color: #51BF46;
}